.navbar{
    height:5rem;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.navbar{
    background: white;
}
.nav-link{
    color: black !important;
}
.f-info-links a{
    text-decoration :none;
    color: black;
}
.f-info-links a:hover{
    text-decoration :underline;
    
}
.f-info-socials i {
     font-size: 1.3rem;
     margin-right: 1rem;
}
.f-info-links,.f-info-socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info{
    margin-bottom: 0px;
    height: 8rem;
    text-align: center;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.card{
    border: none!important;
    margin-bottom:2rem ;
}
.custom-card{
    border: 1px solid grey;
    border-radius: 7px;
    margin-top: 4px;
    padding-top: 1rem;
    margin-right: 0.75rem;
    width: 280px;
}
.card-img-top{
border-radius: 1rem!important;
object-fit: cover!important;
width: 100%!important;

}
.card-body{
    padding: 0!important;
}
.card-text p{
    font-weight: 400!important;
}
.listing-link{
    text-decoration: none!important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    background-color: white;
    opacity: 0.2;
}
.edit-btn{
    background-color: #fe424d!important;
    border: none!important;

}
.delete-btn{
    background-color: #fe424d!important;
    border: none!important;

}
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}